<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!--命令模式组装-->
       <bean name="receiver" class="tk.zhangh.pattern.behavior.command.Receiver"/>
       <bean name="commandOpen" class="tk.zhangh.pattern.behavior.command.CommandOpen">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="commandClose" class="tk.zhangh.pattern.behavior.command.CommandClose">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="invoker" class="tk.zhangh.pattern.behavior.command.Invoker">
              <constructor-arg name="openCommand" ref="commandOpen"/>
              <constructor-arg name="closeCommand" ref="commandClose"/>
       </bean>

       <!--装饰器组装-->
       <bean name="adaptee" class="tk.zhangh.pattern.structure.adapter.Adaptee"/>
       <bean name="adapter" class="tk.zhangh.pattern.structure.adapter.ObjectAdapter">
              <constructor-arg name="adaptee" ref="adaptee"/>
       </bean>

       <!--状态模式-->
       <bean id="context" class="tk.zhangh.pattern.behavior.state.RoomContext"/>

        <!--策略模式-->
        <bean id="strategyA1" class="tk.zhangh.pattern.behavior.strategy.StrategyA1"/>
        <bean id="strategyA2" class="tk.zhangh.pattern.behavior.strategy.StrategyA2"/>
        <bean id="strategyB1" class="tk.zhangh.pattern.behavior.strategy.StrategyB1"/>
        <bean id="strategyB2" class="tk.zhangh.pattern.behavior.strategy.StrategyB2"/>
        <bean id="contextStrategy1" class="tk.zhangh.pattern.behavior.strategy.Context">
            <constructor-arg ref="strategyA1"/>
            <constructor-arg ref="strategyB1"/>
        </bean>
        <bean id="contextStrategy2" class="tk.zhangh.pattern.behavior.strategy.Context">
            <constructor-arg ref="strategyA1"/>
            <constructor-arg ref="strategyB2"/>
        </bean>
        <bean id="contextStrategy3" class="tk.zhangh.pattern.behavior.strategy.Context">
            <constructor-arg ref="strategyA2"/>
            <constructor-arg ref="strategyB1"/>
        </bean>
        <bean id="contextStrategy4" class="tk.zhangh.pattern.behavior.strategy.Context">
            <constructor-arg ref="strategyA2"/>
            <constructor-arg ref="strategyB2"/>
        </bean>
</beans>