<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       <!--命令模式组装-->
       <bean name="receiver" class="tk.zhangh.pattern.command.Receiver"/>
       <bean name="commandOpen" class="tk.zhangh.pattern.command.CommandOpen">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="commandClose" class="tk.zhangh.pattern.command.CommandClose">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="invoker" class="tk.zhangh.pattern.command.Invoker">
              <constructor-arg name="openCommand" ref="commandOpen"/>
              <constructor-arg name="closeCommand" ref="commandClose"/>
       </bean>
</beans>