<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!--命令模式组装-->
       <bean name="receiver" class="tk.zhangh.pattern.command.Receiver"/>
       <bean name="commandOpen" class="tk.zhangh.pattern.command.CommandOpen">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="commandClose" class="tk.zhangh.pattern.command.CommandClose">
              <constructor-arg name="receiver" ref="receiver"/>
       </bean>
       <bean name="invoker" class="tk.zhangh.pattern.command.Invoker">
              <constructor-arg name="openCommand" ref="commandOpen"/>
              <constructor-arg name="closeCommand" ref="commandClose"/>
       </bean>

       <!--装饰器组装-->
       <bean name="adaptee" class="tk.zhangh.pattern.adapter.Adaptee"/>
       <bean name="adapter" class="tk.zhangh.pattern.adapter.ObjectAdapter">
              <constructor-arg name="adaptee" ref="adaptee"/>
       </bean>

       <!--状态模式-->
       <bean id="context" class="tk.zhangh.pattern.state.Context"/>
</beans>